.App {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
}

.editor-container {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.output-container {
  flex: 1;
  padding: 20px;
}


textarea {
  width: 100%;
  height: calc(100% - 40px);
  padding: 10px;
  resize: none;
}

button {
  display: block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.output {
  width: 50%;
  max-width: 50%;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-y: auto;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.editor-container {
  padding: 20px;
}

.output-container {
  padding: 20px;
}

.output {
  height: 50vh;
  overflow-y: auto;
  overflow-wrap: break-word; /* Enable word wrapping */
}

.error{
  color: red;
}

.header {
  display: flex;
  align-items:baseline;
  justify-content: space-around;
  /* justify-content: space-between; */
}

.instagram-link {
  color: #3a98b4; 
  text-decoration: none;
  font-weight: bold;
}

.instagram-link:hover {
  text-decoration: underline;
}

.editor-border {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.output-container-button{
  display: flex;
  /* justify-content: space-evenly; */
}

.clear{
  margin-right: 1rem;
}
